<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Add Car</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap4-neon-glow.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap4-neon-glow.min.css}"/>

</head>
<body>

<div class="container">
    <div class="card" style="padding: 25px; margin: 25px">
        <img class="card-img-top" th:src="@{|/img/${car.picture}|}"/>
        <div class="card-body">
            <form action="#" enctype="multipart/form-data" th:action="@{/cars}" th:object="${car}" method="post">

                <input type="text" th:field="*{car_id}" class="form-control" th:hidden="true"/>
                <div class="form-group">
                <div class="input-group">
                  <span class="input-group-btn">
                    <button class="btn btn-light" type="button">Model</button>
                  </span>
                    <input type="text" th:field="*{model}" class="form-control" id="model" placeholder="empty"/>
                </div>
                </div>

                <div class="form-group">
                <div class="input-group">
                  <span class="input-group-btn">
                    <button class="btn btn-light" type="button">Color</button>
                  </span>
                    <input type="text" th:field="*{color}" class="form-control" id="color" placeholder="empty"/>
                </div>
                </div>

                <div class="form-group">
                <div class="input-group">
                  <span class="input-group-btn">
                    <button class="btn btn-light" type="button">Registration number</button>
                  </span>
                    <input type="text" th:field="*{registration_number}" class="form-control" id="registration_number" placeholder="empty"/>
                </div>
                </div>

                <div class="form-group">
                <div class="input-group">
                  <span class="input-group-btn">
                    <button class="btn btn-light" type="button">Horsepower</button>
                  </span>
                    <input type="number" th:field="*{power}" class="form-control" id="power" placeholder="empty"/>
                </div>
                </div>

                <div class="form-group">
                <div class="input-group">
                  <span class="input-group-btn">
                    <button class="btn btn-light" type="button">Price per day</button>
                  </span>
                    <input type="number" th:field="*{price}" class="form-control" id="price" placeholder="empty"/>
                </div>
                </div>

                <div class="form-group">
                <div class="input-group">
                  <span class="input-group-btn">
                    <button class="btn btn-light" type="button">Manufacturer</button>
                  </span>
                    <input type="text" th:field="*{manufacturer}" class="form-control" id="manufacturer" placeholder="empty"/>
                </div>
                </div>

                <div class="form-group">
                <div class="input-group">
                  <span class="input-group-btn">
                    <button class="btn btn-light" type="button">Mileage</button>
                  </span>
                    <input type="number" th:field="*{mileage}" class="form-control" id="mileage" placeholder="empty"/>
                </div>
                </div>


                <div class="form-group">
                <div class="input-group">
                    <label class="custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox" id="available" th:field="*{available}" th:value="true"/>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Check if the car is available</span>
                    </label>

                </div>
                </div>


                <div class="form-group">
                    <label class="custom-file">
                        <input class="btn btn-light" type="file" name="file"/>
                        <span class="custom-file-control">Upload image</span>
                    </label>

                </div>

                <button style="margin-top:10px" class="btn btn-shadow btn-success" type="submit" id="submit">Submit</button>
                <button style="margin-top:10px" class="btn btn-shadow btn-danger" type="reset" id="reset">Reset</button>

            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
<script>


    var $model = $("#model");
    var $color  = $("#color");
    var $registration_number = $("#registration_number");
    var $power  = $("#power");
    var $price  = $("#price");
    var $manufacturer  = $("#manufacturer");
    var $mileage  = $("#mileage");

    function isModeldValid() {
        return $model.val().length > 0;
    }

    function iscolordValid() {
        return $color.val().length > 0;
    }

    function isRegistrationValid() {
        return $registration_number.val().length > 0;
    }

    function isPowerValid() {
        return $power.val().length > 0;
    }

    function isPriceValid() {
        return $price.val().length > 0;
    }

    function iscManufacturerValid() {
        return $manufacturer.val().length > 0;
    }

    function isMiliegeValid() {
        return $mileage.val().length > 0;
    }

    function canSubmit() {
        return !(!isModeldValid() || !iscolordValid()  || !isRegistrationValid() || !isPowerValid() || !isPriceValid() || !iscManufacturerValid() || !isMiliegeValid()       );
    }

    function enableSubmitEvent() {
        $("#submit").prop("disabled", !canSubmit());
    }


    //When event happens on password input
    $model.keyup(enableSubmitEvent);

    //When event happens on confirmation input
    $color.keyup(enableSubmitEvent);

    $registration_number.keyup(enableSubmitEvent);
    $power.keyup(enableSubmitEvent);
    $price.keyup(enableSubmitEvent);
    $manufacturer.keyup(enableSubmitEvent);
    $mileage.keyup(enableSubmitEvent);



    enableSubmitEvent();



</script>
</body>
</html>