<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Add Car</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap4-neon-glow.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap4-neon-glow.min.css}"/>

</head>
<body>

<div class="container">
    <div class="card" style="padding: 25px; margin: 25px">
        <img class="card-img-top" th:src="@{|/img/${car.picture}|}"/>
        <div class="card-body">
            <form action="#" enctype="multipart/form-data" th:action="@{/cars}" th:object="${car}" method="post">

                <input type="text" th:field="*{car_id}" class="form-control" th:hidden="true"/>
                <div class="form-group">
                <div class="input-group">
                  <span class="input-group-btn">
                    <button class="btn btn-light" type="button">Model</button>
                  </span>
                    <input type="text" th:field="*{model}" class="form-control" id="model"/>
                </div>
                </div>

                <div class="form-group">
                <div class="input-group">
                  <span class="input-group-btn">
                    <button class="btn btn-light" type="button">Color</button>
                  </span>
                    <input type="text" th:field="*{color}" class="form-control" id="color"/>
                </div>
                </div>

                <div class="form-group">
                <div class="input-group">
                  <span class="input-group-btn">
                    <button class="btn btn-light" type="button">Registration number</button>
                  </span>
                    <input type="text" th:field="*{registration_number}" class="form-control" id="registration_number"/>
                </div>
                </div>

                <div class="form-group">
                <div class="input-group">
                  <span class="input-group-btn">
                    <button class="btn btn-light" type="button">Horsepower</button>
                  </span>
                    <input type="number" th:field="*{power}" class="form-control" id="power"/>
                </div>
                </div>

                <div class="form-group">
                <div class="input-group">
                  <span class="input-group-btn">
                    <button class="btn btn-light" type="button">Price per day</button>
                  </span>
                    <input type="number" th:field="*{price}" class="form-control" id="price"/>
                </div>
                </div>

                <div class="form-group">
                <div class="input-group">
                  <span class="input-group-btn">
                    <button class="btn btn-light" type="button">Manufacturer</button>
                  </span>
                    <input type="text" th:field="*{manufacturer}" class="form-control" id="manufacturer"/>
                </div>
                </div>

                <div class="form-group">
                <div class="input-group">
                  <span class="input-group-btn">
                    <button class="btn btn-light" type="button">Mileage</button>
                  </span>
                    <input type="number" th:field="*{mileage}" class="form-control" id="mileage"/>
                </div>
                </div>


                <div class="form-group">
                <div class="input-group">
                    <label class="custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox" id="available" th:field="*{available}" th:value="true"/>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Check if the car is available</span>
                    </label>

                </div>
                </div>


                <div class="form-group">
                    <label class="custom-file">
                        <input class="btn btn-light" type="file" name="file"/>
                        <span class="custom-file-control"></span>
                    </label>

                </div>

                <button style="margin-top:10px" class="btn btn-shadow btn-success" type="submit">Submit</button>
                <button style="margin-top:10px" class="btn btn-shadow btn-danger" type="reset">Reset</button>

            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>

</body>
</html>