<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Rentos</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap4-neon-glow.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap4-neon-glow.min.css}"/>

</head>

<body>
<div class="container">
    <div class="card" style="padding: 25px; margin: 25px">
        <div class="card-body">

            <form action="#" th:action="@{/availablecars}" th:object="${rent}" method="post">
                <h2>Welcome back</h2>


                <div class="form-group">
                    <div class="input-group">
                  <span class="input-group-btn">
                    <button class="btn btn-light" type="button">Pickup date</button>
                  </span>
                        <input type="date" th:field="*{pickup}" class="form-control" id="pickup" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                  <span class="input-group-btn">
                    <button class="btn btn-light" type="button">Dropoff date</button>
                  </span>
                        <input type="date" th:field="*{dropoff}" class="form-control" id="drop" />
                    </div>
                </div>

                <button style="margin-top:10px" class="btn btn-shadow btn-success" type="submit" id="submit">Submit</button>
                <button style="margin-top:10px" class="btn btn-shadow btn-danger" type="reset">Reset</button>

            </form>

            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                    crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
                    integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
                    crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
                    integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
                    crossorigin="anonymous"></script>

        </div>
    </div>
</div>
<script>
    var $pickup = $("#pickup");
    var $drop = $("#drop");
    var yearpick ;
    var yeardrop ;
    var monthpick ;
    var monthdrop ;
    var daydrop ;
    var daypick ;



   function isDateValid() {
       yearpick = parseInt($pickup.val().split('-')[0],10);
       yeardrop = parseInt($drop.val().split('-')[0],10);

       monthpick = parseInt($pickup.val().split('-')[1],10);
       monthdrop = parseInt($drop.val().split('-')[1],10);

       daypick = parseInt($pickup.val().split('-')[2],10);
       daydrop = parseInt($drop.val().split('-')[2],10);

       if (yearpick > yeardrop)
           return false ;
       else if (monthpick > monthdrop )
           return false ;
       else if ( daypick > daydrop)
           return false ;

       return true
    }

    function ispickValid() {
        return $pickup.val().length > 0;
    }

    function isdropValid() {
        return $drop.val().length > 0;
    }



  function canSubmit() {
        return !(!isDateValid() || !ispickValid() || !isdropValid());
    }

    function enableSubmitEvent() {
        $("#submit").prop("disabled", !canSubmit());
    }





    $pickup.change(enableSubmitEvent);
    $drop.change(enableSubmitEvent);


    enableSubmitEvent();




</script>
</body>
</html>