<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Rentos</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap4-neon-glow.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap4-neon-glow.min.css}"/>
    <style>
        img
        {
            width: 350px;
        }
    </style>
</head>

<body>
<div class="container">

    <a th:href="@{/users/add}" class="btn btn-shadow btn-success push-right" th:text="Add"/>
    <div th:each="user: ${users}"  class="card">
        <div class="card-body">
            <div class="media">

                <div class="media-body" style="margin: 20px">
                    <ul>
                        <li th:text="|First Name: ${user.getFname()}|"/>
                        <li th:text="|Last Name: ${user.getLname()}|"/>
                        <li th:text="|Email: ${user.getEmail()}|"/>
                        <li th:text="|Telephone: ${user.getTelephone()} |"/>
                        <li th:text="|Role: ${user.getRole()} |"/>

                    </ul>

                    <a th:href="@{|/users/delete/${user.getUser_id()}|}" class="btn btn-shadow btn-danger push-right" th:text="Delete"/>


                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
</body>
</html>